/* 進度條區塊 */
#progress-bar-container {
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  z-index: 9999;
}

#progress-bar {
  height: 100%;
  background-color: #0000C6;
  width: 0;
  transition: width 0.1s ease-in-out;
}


.carousel-indicators [data-bs-target] {
    list-style: none;
}

#changepic {
  position: absolute;
  z-index: 99;
  width: 10%;
  top: 35%;
  left: 45%;
  right: 45%;
}
.editnewsbutton {
  float: right;
}

.hidden-input {
  display: none;
}




/* 最新消息區塊 */
.newsdiv1 {
    width: 100%;
    height:40vh ;
    background: url("../images/v120_2722.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 20%;
    left: 0px;
    overflow: hidden;
  }
  .newstitle {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    /* font-family: Roboto;
    font-weight: Bold;
    font-size: 45px; */
    opacity: 1;
    text-align: center;
  }
  .newsdiv2 {
    width: 70%;
    /* background: url("../images/v120_2726.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    opacity: 1;
    position: absolute;
    top: 118px;
    left: 15%;
    right: 15%;
    overflow: hidden;
    border: 5px solid rgba(255,203,33,1);
    border-radius: 15px;
  }
  
  .news {
    width: 90%;
    margin: 0 auto;
  }
  .newstext {
    width: 65%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 16px;
    text-align: left;
    padding-left: 16px;
  }
  .newstext p {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
  }
  .newsdate {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 18px;
    border-right-style:solid;
    border-color:rgba(255,203,33,1)
  }
  .newsdata {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 16px;
  }



/* 熱門品項 */

 .shop-btn {
  width: 300px;
  height: 80px;
  /* background-color: #FE7F2D; */
  color: #fff;
  text-align: center;
 }


  .p-5 {
    padding: 3rem!important;
  }
  .text-center_hot {
    width: 60%;
    height: 40%;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center!important;
  }
  .text-center_3 {
    width: 90%;
    height: 40%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center!important;
  }
  .text-center_time {
    width: 100%;
    height: 30%;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center!important;
    font-weight: bold;
  }



/* 營業資訊圖片hover */

  .image-container {
    position: relative;
    margin:10px 0;
}

  .caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 30px;
    font-weight: bold;
}



@media only screen and (min-height: 1800px)and (max-width: 1200px){
    .newsdiv1{
        height: 20vh;
    }
}
@media only screen and (min-height: 2000px)and (max-width: 1200px){
    .newsdiv1{
        height: 15vh;
    }
}
@media only screen and (min-height: 2400px)and (max-width: 1200px){
    .newsdiv1{
        height: 13vh;
    }
}

/*Footer設定*/
.text-decoration 
{
    color: #FEC107;
	text-decoration: none;
}

.text-decoration:hover
{
    color: #000080;
}
	