html, body {
  height: 100%;
}

.logo{
  margin-left: 20px; /*LOGO圖距離頁面左邊框的距離,越大離越遠*/
  margin-top:0px;
  width: 50%;
  height: 30%;
}
body {
  background: #FFFF59;
}
.headsize{    /*頁首大小*/
  width: 2000px;
  margin: 0 auto;
}

.header{      /*頁首區塊設定*/
  position: fixed;
  width: 100% ;    
  padding: 20px;
  background: #FFFFFF;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 9999;
}


.menu{
  display: flex;
  padding: 30px;
  justify-content: space-between;
  /* position: relative;
  right: 10%;
  height: 20px; */
}


.menu li a{    /*導覽列超連結設定*/
  padding: 10px;
  text-decoration: none;
  display: block;
  background-color: #FF0000;
  color: #fff;
}

.menu li a:hover{   /*導覽列滑鼠移過超連結設定*/
  color: #FFD306;
  border-bottom: 5px solid #FFD306;
  background-color: #00A600;
}

.menu li marker {
  position: relative;
  top: 100px;
}


h1{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 40px;
    border: 1px white;
    color: black;
    /* background-color: cornflowerblue; */
    height: 80px;
    margin: 0;
    padding: 30px;
    padding-top: 50px;
    
}
.n1{
    text-align: right;
    height: 50px;
    margin: 0;
    
    /* position: sticky;
    top: 0px; */
}


#ul1 {
  /* position: absolute;
  top: 150px;
  width: 100%; */
  background-color: repeating-linear-gradient(70deg,#737373 0%,#9C9C9C 33%,#C4C4C4 66%,#EDEDED 100%);
}

header li{
    list-style: none;
    margin-left: 10px;
    margin-right: 20px;
}
header li a{
    color:#6E6E6E;
    text-decoration: none;
}
.map01 {  /* 地圖 */
  z-index: 1;
  margin-top:  20px; 
  margin-bottom: 20px;
}
.sidebar001 {   /* 右下角那個右側欄 */
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 999;
}
.sidebar001 img {
  margin-bottom: 10px;
}
.sidebar001 img a:hover {
  background-color: transparent;
}

/* footer{
    margin: 0;
    background: #FFFF59;
    color:  #696969;
    font-size: 20px;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 99;
} */

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #333; */
  background-color: #86848497;
  opacity: 1;
  color: #fff;
  padding: 20px;
  margin-left: 0;
  margin-right: 0;
}

/* footer > div:first-child {
  margin-right: 20px;
} */

.footer-size {
  display: flex;
  justify-content: space-between;
  margin-left: 550px;
}

.about ,
  .shopping ,
  .contact  {
    width: 250px;
    display: flex;
    flex-direction: column;
  }
  
  .about ul,
  .shopping ul,
  .contact ul {
    display: flex;
    flex-direction: column;   /* 直向排版 */
 
  }

  .about li,
  .shopping li,
  .contact li {
    text-align: left;
  }
  

.circle-image {
  margin: 30px;
  width: 150px; /* 圖片寬度 */
  height: 150px; /* 圖片高度 */
  border-radius: 50%;
  border: 2px solid black;
}

.circle-imaged {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

  .change-avatar-btn {
    margin: 30px;
    width: 150px; /* 圖片寬度 */
    height: 50px; /* 圖片高度 */
    border: 2px solid rgba(255, 255, 255, 0.363);
    background-color: rgba(0, 0, 0, 0.363);
  }  
main {
  background-color: #FFFF59;
  
}

#nav{ width:600px; height:20px; background-color:#eee; margin:0 auto;}
ul{ list-style:none;}
ul li
{ float:left; 
line-height:40px;
text-align:center;
width:100px;
}

#hellomember {
  width: 160px;
}

#memberroom {
  width: 160px;
}

#logout {
  width: 160px;
}
/* a{ text-decoration:none; color:#000; display:block;}
a:hover{ color:#000; background-color:#6e6e6e;} */
ul li ul li{ float:none;background-color:#eee; margin:2px 0px;}
ul li ul{ display:none;position: absolute;}

   /* sub-navigation */
   .content h1 {
	background: url(img/bgh1.gif) repeat-x left bottom;
	color: #EEE;
	margin-bottom: 10px;
	padding: 6px 0 4px;
}
.content a {
	color: #999;
	text-decoration: underline;
}
.content a:hover {color: #CCC;}
.content .descr {margin-bottom: 5px;}

/* navigation */
.nav {background: #191919 url(img/nav.gif);}
.nav a {
	background: #191919 url(img/nav.gif);
	border-right: 1px solid #161616;
	color: #CCC;
	float: left;
	font: bold 1em Verdana,sans-serif;
	line-height: 20px;
	padding: 0 20px;
}
.nav a:hover {
	background: #191919 url(img/nav_hover.gif);
}


/* sub-navigation */
.subnav {
	background: #2A2A2A;
	border: 1px solid #1E1E1E;
	border-top-color: #444;	
	/* padding: 12px; */
  width: 150px;
  height: 500px;
}
.subnav h1 {padding-top: 8px;}
.subnav ul {margin: 0;}
.subnav li {
  display: flex;
	background: url(img/li.gif) no-repeat left bottom;
	list-style: none;
	margin: 0;
  padding-right: 30px;
  align-items: center;
  height: 50px;
  width: 150px;
}
.subnav li a { 
	color: #777;
	line-height: 2.4em;
  /* text-align: center; */
	text-decoration: none;

}
.subnav li a:hover {color: #BBB;}

.right  {width: 20%;}
.content {
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	padding: 16px;
}


/* .mySlidesfade{
  top: 130px;
} */

#d1 {
  top: 130px;
  left: 0;
  right: 0;
}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  margin-top: -22px;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.numbertext.img{
    width: 400px;
    height: 300px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:transparent;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
h2 {
 color: black;
 text-align: center;
 font-size: 36px;
}
.news {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
.newstext {
  width: 65%;
  /* margin-left: 16px; */
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 16px;
  text-align: left;
  border:  solid black;
  padding-left: 16px;
}
/* .newstext nobr {
  display: inline-block;
} */
.newstext p {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}
.hots {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  font-size: 24px;
  /* box-sizing: border-box; */
  /* border: 1px solid black; */
  /* border: 2px black; */
}
.hots div {
  border: 2px solid black;
  width: 250px;
  height: 350px;
  text-align: center;
  background-color: #6E6E6E;
  color: white;
 } 
 .login {
  height: 400px;
  width: 250px;
 }


 /* .login {
  background-color: white;
  font-size: 20px;
  display: flex;
  height: 100px;
} */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
/* 登入框 */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}
/* 關閉按鈕 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* 登入按鈕 */
.login-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
/* 登入按鈕做橫向排版的div */
.big-login-button {
  display: flex;
  flex-direction: row;
}

/* 下面開始是RWD設定 */

@media only screen and (max-width: 1300px) {
  .headsize{    /*頁首大小*/
    width: 100%;
    margin: 0 auto;
  }
  .header {
    padding: 5px;
    display: flex;
    justify-content: left;
  }
  
  #header_a{
    display: block;
    width: 300px;
  }
  .header {
    height: 180px;
  }
  .logo{
    width: 60%;
    height: 30%;
  }
  .menu {
    padding: 5px;
  }
  .menu li {
    font-size: 12px;
    width: 70px;
  }
  .menu li a{    /*導覽列超連結設定*/
    padding: 5px;
  }
  #hellomember {
    width: 120px;
  }
  
  #memberroom {
    width: 120px;
  }
  
  #logout {
    width: 120px;
  }
  nav {
    position: relative;
    right: 20;
  }
  .about,
  .shopping,
  .contact {
    /* width: 100%;
    margin-top: 20px; */
    width: 33.33%;
    margin-top: 20px;
  }
  .sidebar001 {
    bottom: 200px;
  }
  footer {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
  }
  .footer-size {
    display: flex;
    flex-direction: row;
    margin-left:150px;
  }
}

@media only screen and (min-height: 2300px)and (max-width: 1300px){
  .logo {
    width: 60%;
    height: 40%;
    margin-left: 30px;
  }
  .sidebar001 {
    bottom: 15%;
  }
  footer {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    font-size: 20px;
  }
  .header {
    height: 200px;
  }
}
