.avatar {
    width: 25px; /* 圖片寬度 */
    height: 25px; /* 圖片高度 */
    border-radius: 50%; /* 設置圓角半徑為50% */
  }
.shoppingpagediv1 {
    width: 60%;
    height: 50px;
    background-color: lightgreen;
    left: 20%;
    right: 20%;
    position: relative;
    top: 250px;
}

.shoppingpagediv1 p{
    position: absolute;
    top: 1%;
    bottom: 1%;
    left: 10%;
    text-align: left;
}

.lefttable {
    width: 200px;
    position: relative;
    top: 300px;
    margin-left: 30px;
}

.lefttable th {
    border-bottom: 2px black solid;
    text-align: left;
    padding: 5px;
}

.commoditypage {
    width: 1000px;
    height: 1000px;
    position: relative;
    top: 200px;
    left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.commoditypage img {
    display: block;
    width: 280px;
    height: 280px;
    margin-right: 20px;
}

.commoditypage label {
    margin-right: 60px;
}

/* #shopping-cart-modal, #add-to-cart-success {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
} */

#add-to-cart-success {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 99;
}

#shopping-cart-modal {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 99;
}