
.shoppingpagediv1 {
    width: 60%;
    height: 50px;
    background-color: lightgreen;
    left: 20%;
    right: 20%;
    position: relative;
    top: 250px;
}

.shoppingpagediv1 p{
    position: absolute;
    top: 1%;
    bottom: 1%;
    left: 10%;
    text-align: left;
}

.avatar {
  width: 25px; /* 圖片寬度 */
  height: 25px; /* 圖片高度 */
  border-radius: 50%; /* 設置圓角半徑為50% */
  
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
  top:200px 

}

.left {
  width: 25%;
  background-color: #f2f2f2;
  min-width: 250px;
}

.container-fluid {
  padding: 0;
}
/* 常規底線 */


.row {
  margin: 0;
}

.col-8 {
  padding: 0;
  display: flex;
  justify-content: center;
}

.list-unstyled {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0;
}
 

.list-unstyled li {
  width: 180px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  
}

.list-unstyled li a{
  text-decoration: none;
  color:black;
} 

.list-unstyled li a:hover {
  color:rgb(0, 47, 255);
}

.list-container {
  margin: 20px;
  width: 200px; /* 設定固定高度 */
  display: flex;
  justify-content: center;
}

.lefttable {
    width: 200px;
    position: relative;
    top: 300px;
    margin-left: 30px;
}

.lefttable th {
    border-bottom: 2px black solid;
    text-align: left;
    padding: 5px;
}


/* 購買記錄表格 */
.righttable {
  width: 60%;
  height: 400px;  
  position: relative;
  left: 10%;
  right: 20%;
  top:100px;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center,top;
  overflow-y: auto; */
}

.righttable ul {
  list-style: none;
  text-decoration: none;
  padding-left: 1rem;
  
}



/* 滾動條設置 */
.scrolltable {
  /* width: 60vw; */
  height: 400px;
  overflow: auto;
  position: relative;
}

/* 訂購表格 */
.order-table{
  width: 60vw;
  height: 400px;
  background-color: #ccc;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%; 
  position: absolute;
}

/* 訂購表格 nav */
.order-table .order-nav {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 3px solid #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: bisque;
}


/* 每筆訂單內容 */
.order-table .content-tr {
  font-size :18px;
  border-bottom: 2px solid #fff;
}


.order-table .content-tr button {
  width: 100px;
  height: 35px;
  background-color: gray;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;
}


.commoditypage {
    width: 1000px;
    height: 1000px;
    position: relative;
    top: 200px;
    left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.commoditypage img {
    display: block;
    width: 280px;
    height: 280px;
    margin-right: 20px;
}

.commoditypage label {
    margin-right: 60px;
}

/* #shopping-cart-modal, #add-to-cart-success {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
} */

#add-to-cart-success {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 99;
}

#shopping-cart-modal {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 99;
}